<%= form_with(model: trimester) do |form| %>
  <% if trimester.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trimester.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% trimester.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year%>
  </div>

  <div>
    <%= form.label :term, style: "display: block" %>
    <%= form.select :term, ["Fall","Spring", "Summer"]%>
  </div>

  <div>
    <%= form.label :application_deadline, style: "display: block" %>
    <%= form.date_field :application_deadline %>
  </div>
  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>
  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>
   <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
